<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328756504418-jdukqo91q4r6r6ci6d7ke7de8pqmj5uj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328756504418-jdukqo91q4r6r6ci6d7ke7de8pqmj5uj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>328756504418-u868q5n1glplqv36oa03qa4b6a11dc9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDIsbsBmOJ_pH2G7RFIIH8rJC9EHJDbfW8</string>
	<key>GCM_SENDER_ID</key>
	<string>328756504418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xmedia.scopexapps</string>
	<key>PROJECT_ID</key>
	<string>scopex-007</string>
	<key>STORAGE_BUCKET</key>
	<string>scopex-007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328756504418:ios:50e1fe9dc1e0557abe6e3b</string>
</dict>
</plist>